# Dependencies
node_modules
.pnp
.pnp.js

# Production
dist

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Taro
.taro-plugin-component
.taro
.swc

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Vite
vite.config.ts.timestamp*
